dist
node_modules

*.exe
deimos_installer

.idea

# dor absoluta causando conflitos na merge
pnpm-lock.yaml
yarn.lock
package-lock.json

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
*.tsbuildinfo